body {
    background: #e2e2e2 url(../i/bg.png);
    position: relative;
    padding-top: 10px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}
#container {
    display: block;
    width: 920px;
    margin: 0 auto;
}
#lang-switcher {
	text-align: right;
}
#lang-switcher .current {
	font-weight: bold;
}
#container .comment {
    background: #fdfbe9 url(../i/line.png) repeat;
    /*min-height: 155px;*/
    position: relative;
}
.comment-wrapper {
	background: #fdfbe9 url(../i/vert-line.png) repeat-y 72px center;
	padding-top: 10px;
}
.top-shadow, .bottom-shadow {
	height: 11px;
}
.top-shadow {
	background: url(../i/comment-top-shadow.png) no-repeat center 2px;
}
.bottom-shadow {
	background: url(../i/comment-bottom-shadow.png) no-repeat center bottom;
}
.comment .thumb-col {
    float: left;
    width: 72px;
}
.comment .comment-col {
    padding: 5px 30px 5px 33px;
    margin-left: 72px;
	background: url(../i/vert-line.png) repeat-y center left;
	
}
.comment .thumb {
    background-color: #fff;
    border: solid 1px #dad8c9;
    height: 62px;
    width: 62px;
    display: block;
    margin: 25px 13px 0 20px;
    padding: 3px;
}
.comment .thumb div {
    background-color: #ededed;
    width: 62px;
    height: 62px;
}
.comment .text {
    margin: 15px 0 21px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	line-height: 20px;
}
.comment .datetime {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #ae9e8a;	
	margin: 22px 0 16px 0;
	padding: 1px 0;
}
.comment .author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #766958;
	margin-bottom: 6px;
	padding: 1px 0;
}
button.add-comment {
    color: #fff;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;    	
    border-color: transparent;
	border-width: 0px;
	background: none;
	height: 33px;
	line-height: 30px;
    cursor: pointer;
}
button.reply-button {
    color: #fff;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;    	
    border-color: transparent;
	border-width: 0px;
	background: none;
	height: 28px;
	line-height: 24px;
    cursor: pointer;
	padding: 0;
}
.comment button.reply-button {
    position: absolute;
    right: 30px;
    bottom: 25px;		
}
button.add-comment span {
	background-repeat: repeat-x;
	display: inline-block;
	height: 33px;	
	float: left;	
	background: none;
	background: url(../i/button-add-bg.png) repeat-x left center;
}
button.add-comment .left{
	background-image: url(../i/button-add-bg-left.png);
	background-position: right top;
	width: 17px;
}
button.add-comment .right{
	background-image: url(../i/button-add-bg-right.png);
	background-position: left top;
	width: 17px;
}
button.reply-button span {
	background-repeat: repeat-x;
	display: inline-block;
	height: 28px;	
	float: left;	
	background: none;
	background: url(../i/button-reply-bg.png) repeat-x left center;	
}
button.reply-button .left{
	background-image: url(../i/button-reply-bg-left.png);
	background-position: right top;
	width: 15px;
}
button.reply-button .right{
	background-image: url(../i/button-reply-bg-right.png);
	background-position: left top;
	width: 14px;
}
#add-comment-corner {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    background: url(../i/add-comment-corner-bg.png) left top no-repeat;
    width: 360px;
    height: 210px;
}
.add-comment-form {
    text-align: center;
    margin-top: 55px;
	margin-bottom: 20px;
}
.add-comment-form button.reply-button {
    font-size: 16px;
    font-weight: normal;	
}
div.form {
    margin-top: 22px;
    background-color: #fdfbe9;
    padding: 20px;
}
div.form h1 {
    color: #5D503C;
    font-size: 14px;
    font-weight: bold;
}
div.form div.row {
}
div.form div.error {
    display: inline-block;
    padding-left: 10px;
    color: #f00;
}
input[type=text], input[type=password] {
    height: 18px;
    width: 300px;
}
textarea {
    width: 615px;
    height: 130px;
}
input[type=text], input[type=password], textarea{
    border: 1px solid #EFEEE8;
    padding: 6px 14px;
    font-size: 12px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    margin: 10px 0px;
    border-radius: 3px;
    box-shadow: 0 0 5px;
}
.no-comments {
    text-align: center;
    background: #fdfbe9 url(../i/line.png);
    padding: 20px;
}